@import "_config.scss";

.contact {
  h1 {
    display: flex;
    justify-content: center;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .form-item {
      padding-bottom: 2vh;
      &-name {
        .required {
          color: red;
        }
      }
      &-input {
        width: 20rem;
      }
    }
    .form-submit {
      justify-self: center;
    }
  }

  .input-error {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;

    li {
      list-style-type: none;
    }
  }
}
